
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 240 60% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 240 60% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 15% 92%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 15% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 15% 92%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 88%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --sidebar-background: 215 30% 15%;
    --sidebar-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --sidebar-background: 215 30% 11%;
    --sidebar-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
